<a href="https://colab.research.google.com/github/morateng/2023_Data_Campus/blob/main/1)%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B0%9C%EC%9A%94_%EB%B0%8F_%EA%B8%B0%EC%B4%8801_%EB%B3%80%EC%88%98%EC%99%80_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 변수의 이해
  #### 변수: 데이터 또는 자료를 담을 수 있는 메모리의 저장장소

- #### 변수 선언
  #### =(대입연산자)를 사용해서 왼쪽은 변수명, 오른족은 데이터가 위치함
    - 하나의 변수에 하나의 값을 대입
    - 두개의 변수에 같은 값을 대입
    - 변수에 변수를 대입

- ##### 주석(comment)
    - 코드에서 # 뒷 부분은 실행되지 않음
    - Python이 코드를 실행하면서 #은 무시
    - 사람이 보기 위한 용도로 사용

In [1]:
# 변수 선언
# 하나의 변수에 하나의 값을 대입
a = 1
b = 2

In [4]:
# 두개의 변수에 같은 값을 대입
a = b = 1

In [5]:
# 변수에 변수를 대입
a = 1
b = a  #1

In [6]:
# 변수 선언
A = 2
b = 10.2
c = '사과'

- #### print() 함수
    - sep : 구분자, 출력할 변수 사이에서 구별하는 역할
    - end : 마지막에 출력할 문자열

In [7]:
# 변수 출력
print(A)
print(b)
print(c)

2
10.2
사과

In [8]:
# 변수 출력 연습
print(A, b, c)

print(A, b, 50, 100, c)

2 10.2 사과
2 10.2 50 100 사과

In [13]:
print(c, b, sep=',', end="%\n")

print('hello', end = "^^")
print("nice to meet you")

사과,10.2%
hello^^nice to meet you

- #### 변수 이름 규칙

In [14]:
test_data = 10

In [15]:
asdwfqed = 3

In [18]:
# class = 100  # 예약어 사용 X
_class = 100
Class = 100

## 데이터 타입
  #### 정수 (int), 실수 (float), 문자열 (str), 불리언 (boolean) 등이 있음

- #### type() 함수
    - 해당 변수, 데이터의 타입(type)을 알고자 할 때 사용

In [19]:
# type() 함수
a = 2
b = 10.2
c = '사과'

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

- #### None
    - 아무런 값을 갖지 않을 때 사용

In [21]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

### 숫자형 데이터 타입
- #### 산술 연산자

In [22]:
# a, b 변수 선언
a = 7
b = 4

In [23]:
# 사칙연산
print(a + b)
print(a - b)
print(a * b)
print(a / b)

11
3
28
1.75

In [24]:
# 제곱 연산
print(a**b)

2401

In [25]:
# 몫, 나머지 연산
print(a // b)
print(a % b)

1
3

In [26]:
# 정수형 변환
print(int(-1.2))
print(int(1.2))

-1
1

In [27]:
#실수형 변환
print(5)
print(float(5))

5
5.0

In [28]:
# 절대값 출력
print(abs(-6.2))

6.2

In [29]:
# 제곱 출력
print(pow(4, 2))

16

- #### 비교(관계) 연산자

In [ ]:
# a, b 변수 선언
a = 7
b = 4

In [30]:
# 같다, 다르다 비교
print(a == b) # False
print(a != b) # True

False
True

In [31]:
# 크다, 작다 비교
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

True
False
True
False

### 문자형 데이터 타입

In [32]:
# 큰따옴표, 작은따옴표를 이용해 문자열 만들기
a = 'Giant Pengsoo'
b = "Giant Pengsoo"

print(a)
print(b)

Giant Pengsoo
Giant Pengsoo

In [33]:
# 문자열 안에 작은따옴표 넣기
a = "I'm Pengsoo"

print(a)

I'm Pengsoo

In [34]:
# 여러줄 문자열 만들기
c = """Giant Pengsoo,


Peng-ha"""

print(c)

Giant Pengsoo,


Peng-ha

In [35]:
# 여러줄 문자열 만들기
d = '''Giant Pengsoo,
Peng-ha'''

print(d)

Giant Pengsoo,
Peng-ha

- #### 이스케이프 문자

In [36]:
# 이스케이프 문자를 이용해 문자열 만들기
# 이스케이프 문자 : 일부 문자의 의미를 달리하여 특정한 효과를 주는것

print("Giant Pengsoo\n\n")
print("peng\t-ha")

Giant Pengsoo


peng	-ha

In [37]:
print('Pengsoo는 \'peng-ha\' 인사를 한다')

Pengsoo는 'peng-ha' 인사를 한다

- #### 문자열 연산
    - 문자열 연결 연산자 : +
    - 문자열 반복 연산자 : *

In [38]:
# + 문자열 연결 연산자
a = "파이썬"
b = "개요 및 기초"

print(a+b)

파이썬개요 및 기초

In [40]:
# * 문자열 연결 연산자
c = "안녕" * 3

print(c)

안녕안녕안녕

In [42]:
# 문자열 연습
equal = "=" * 20
sentence = equal + "\n파이썬 개요 및 기초\n" + equal

print(sentence)

====================
파이썬 개요 및 기초
====================

- #### 문자열 인덱싱
    - 문자열 내부의 문자 하나를 선택

![image.png]()

In [43]:
a = "Giant Pengsoo" # 길이 : 13
len(a)

13

In [44]:
# 문자열[인덱스]로 호출
# 순방향 인덱스 : 0 부터 시작
# 역방향 인덱스 : -1 부터 시작

print(a[0])
print(a[1])
print(a[12])
print(a[-1])
print(a[-13])

G
i
o
o
G

In [45]:
# print(a[-14]) 에러발생

- #### 슬라이싱
    - 문자열의 특정 범위 선택

In [46]:
a = "Giant Pengsoo"

In [47]:
print(a[0:3])
print(a[0:12])
print(a[0:1])
print(a[:5])
print(a[3:])
print(a[:])

Gia
Giant Pengso
G
Giant
nt Pengsoo
Giant Pengsoo

- #### 포맷팅
    - 문자열 안에 어떤 값을 삽입하는 방법

In [48]:
# 한 개의 % 연산자 포맷팅
# 숫자 대입은 %d

sentence = "나는 학교에 %d번 버스를 타고 다녀." % 7016

print(sentence)

나는 학교에 7016번 버스를 타고 다녀.

In [49]:
# 두 개 이상의 % 연산자 포맷팅
# 숫자 나타내는 변수와 문자를 나타내는 변수 대입
# 숫자 대입은 %d, 문자 대입은 %s
a = 7016
b = "학교"

sentence = "나는 %s에 %d번 버스를 타고 다녀." % (b, a)

print(sentence)

나는 학교에 7016번 버스를 타고 다녀.

In [50]:
# 한 개의 format() 함수 포맷팅
# format 함수 안에 넣을 숫자 삽입

print("나는 학교에 {}번 버스를 타고 다녀.".format(7016))

나는 학교에 7016번 버스를 타고 다녀.

In [51]:
# 두 개의 format() 함수 포맷팅

a = 7016
b = "학교"

sentence = "나는 {}에 {}번 버스를 타고 다녀.".format(b, a)
print(sentence)

나는 학교에 7016번 버스를 타고 다녀.

In [52]:
temp = 30
rain = 20

sentence = "오늘 기온: {}도, 비올 확률: {}%".format(temp, rain)
print(sentence)

오늘 기온: 30도, 비올 확률: 20%

- #### 문자열 함수
    - len() : 문자열 길이 출력
    - split() : 문자열 나누기
    - count() : 문자 개수 세기
    - replace() : 문자열 바꾸기
    - find() : 위치 알려주기
    - upper() : 소문자를 대문자로 바꾸기
    - lower() : 대문자를 소문자로 바꾸기
    - join() : 문자열 삽입

In [53]:
#문장 선언
a = "Giant Pengsoo"

In [54]:
# len() : 문자열 길이 출력
print(len(a))

13

In [59]:
# split() : 문자열 나누기
print(a.split())

['Giant', 'Pengsoo']

In [60]:
# split() : 문자열 나누기
# 'i'를 기준으로 문자열 나누기
print(a.split('i'))

['G', 'ant Pengsoo']

In [61]:
# count() : 문자 개수 세기
print(a.count('o'))

2

In [62]:
# replace() : 문자열 바꾸기
print(a.replace("e", "i"))

Giant Pingsoo

In [63]:
# find() : 위치 알려주기
print(a.find("e"))

7

In [64]:
# upper() : 소문자를 대문자로 바꾸기
print(a.upper())

GIANT PENGSOO

In [65]:
# lower() : 대문자를 소문자로 바꾸기
print(a.lower())

giant pengsoo

In [69]:
# join() : 문자열 삽입
print(".".join(a))

G.i.a.n.t. .P.e.n.g.s.o.o

### 리스트(list)
#### 여러 형태의 데이터가 순서형으로 결합된 구조

- #### 리스트 생성

In [70]:
# []를 이용한 리스트 생성
a = [1, 2, 3, 4, 5]
print(a)
type(a)

[1, 2, 3, 4, 5]

list

In [72]:
# []를 이용한 리스트 생성
# 선언한 리스트를 출력하면 내부의 자료를 모두 출력
myList = [1, 2, "smu", "kdata", [3, 4]]
print(myList)
print(type(myList))

[1, 2, 'smu', 'kdata', [3, 4]]
<class 'list'>

In [73]:
# list()를 이용한 리스트 생성
a = "This is Pengsoo"
b = list(a)
print(b)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'P', 'e', 'n', 'g', 's', 'o', 'o']

In [74]:
# split() 함수를 이용한 리스트 생성
a = "This is Pengsoo, peng-ha"
b = a.split()
print(b)

['This', 'is', 'Pengsoo,', 'peng-ha']

In [75]:
del a

- #### 인덱싱
    - 문자열의 인덱싱와 동일

In [76]:
myList = [1, 2, "smu", "kdata", [3, 4]]

print(myList[2])
print(myList[4])
print(myList[-1])

smu
[3, 4]
[3, 4]

In [77]:
myList[3] = 10
print(myList)

[1, 2, 'smu', 10, [3, 4]]

- #### 슬라이싱
    - 문자열의 슬라이싱와 동일

In [78]:
myList = [1, 2, "smu", "kdata", [3,4]]

print(myList[2:4])
print(myList[:4])
print(myList[3:])
print(myList[:])

['smu', 'kdata']
[1, 2, 'smu', 'kdata']
['kdata', [3, 4]]
[1, 2, 'smu', 'kdata', [3, 4]]

In [79]:
print(myList[0:2:1])
print(myList[1:5:2])

[1, 2]
[2, 'kdata']

- #### 리스트 연산

In [80]:
# list1 2번 반복
# list1과 list2 덧셈
list1 = [1,2,3]
list2 = [4,5,6]

print(list1 * 2 + list2)

[1, 2, 3, 1, 2, 3, 4, 5, 6]

In [81]:
# 연산 결과의 길이 구하기
print(len(list1*2 + list2))

9

- #### 리스트 함수
    - append() : 리스트 끝에 요소 추가
    - extend() : 리스트 확장
    - remove() : 리스트 요소 제거
    - insert(a, b) : 리스트 요소 삽입, 리스트 a번째 위치에 b를 삽입
    - pop() : 지우고자 하는 아이템을 반환 후 삭제
    - index() : 찾고자 하는 값의 인덱스 반환
    - in : 리스트 내에 해당 값이 존재하는지 확인, True/False 로 반환
    - sort() : 리스트 정렬
    - sorted() : 정렬된 리스트의 복사본 반환
    - reverse() : 리스트 뒤집기
    - count() : 리스트에 포함된 요소의 개수 세기

In [82]:
# append() : 리스트 끝에 요소 추가
a = [1, 2, 3, 4, 5]

a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

In [84]:
# append() : 리스트 끝에 요소 추가
a = [1,2,3,4,5]
b = [6, 7, 8]
a.append(b)
print(a)

[1, 2, 3, 4, 5, [6, 7, 8]]

In [85]:
# extend() : 리스트 확장
a = [1, 2, 3, 4, 5]
b = [6, 7, 8]

a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [86]:
# remove() : 리스트 요소 제거
a = [1,2,3,4,5]

a.remove(2)
print(a)

[1, 3, 4, 5]

In [87]:
# insert(a, b) : 리스트 요소 삽입, 리스트 a번째 위치에 b를 삽입
a = [1, 2, 3]

a.insert(1,5)
print(a)

[1, 5, 2, 3]

In [88]:
# pop() : 지우고자 하는 아이템을 반환 후 삭제
a = [1, 2, 3, 4, 5]

print(a.pop())
print(a)

5
[1, 2, 3, 4]

In [90]:
# index() : 찾고자 하는 값의 인덱스 반환
a = [1, 2, 3, 4, 5]

print(a.pop())
print(a)

print(a.pop(0))
print(a)

5
[1, 2, 3, 4]
1
[2, 3, 4]

In [91]:
# in : 리스트 내에 해당 값이 존재하는지 확인, True/False 로 반환
a = [1,2,3,4,5]
b = 4

print(b in a)

True

In [92]:
# sort() : 리스트 정렬
# 기본 오름차순 정렬
a = [6, 3, 8, 2, 1, 3, 30, 21]

a.sort()
print(a)

[1, 2, 3, 3, 6, 8, 21, 30]

In [93]:
# sort() : 리스트 정렬
# reverse = True  옵션으로 내림차순 정렬
a = [6, 3, 8, 2, 1, 3, 30, 21]

a.sort(reverse = True)
print(a)

[30, 21, 8, 6, 3, 3, 2, 1]

In [94]:
# sorted() : 정렬된 리스트의 복사본 반환
a = [6, 3, 8, 2, 1, 3, 30, 21]
b = sorted(a)

print(a)
print(b)

[6, 3, 8, 2, 1, 3, 30, 21]
[1, 2, 3, 3, 6, 8, 21, 30]

In [95]:
# reverse() : 리스트 뒤집기
a = [6, 3, 8, 2, 1, 3, 30, 21]

a.reverse()
print(a)

[21, 30, 3, 1, 2, 8, 3, 6]

In [96]:
# count() : 리스트에 포함된 요소의 개수 세기
a = [3,6,9,3,6,9,1,2,3]

print(a.count(3))

3

### 튜플(tuple)

- #### 튜플 생성

In [97]:
# 리스트와 튜플 타입 확인
a = [1, 2, 3]
b = (1, 2, 3)

print(type(a))
print(type(b))

<class 'list'>
<class 'tuple'>

In [98]:
# 괄호 있는 튜플
# tuple1 : 한 개의 값을 가질 때는 마지막에 ", (쉼표)"를 써줘야 함
# float1 : 한 개의 요소지만 ", (쉼표)" 안 써줘서 튜플로 생성이 안 됨

tuple1 = (2.3,)
float1 = (2.3)

print(tuple1)
print(float1)

print(type(tuple1))
print(type(float1))

(2.3,)
2.3
<class 'tuple'>
<class 'float'>

In [99]:
# 괄호 없는 튜플
# tuple2 : 여러 개 요소인 튜플 생성
tuple2 = 1, 2, 3, 4, 5

print(tuple2)
print(type(tuple2))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [100]:
# 튜플 unpacking
a, b = 100, 200

print(a, b)

100 200

- #### 인덱싱

In [101]:
# 인덱싱
tuple1 = (10, 9, 8, 7, 6)

print(tuple1[0])

10

- #### 슬라이싱

In [102]:
# 슬라이싱
tuple1[1:3]

(9, 8)

- #### 튜플 연산

In [103]:
# tuple1 2번 반복
# tuple1과 tuple2 덧셈
tuple1 = (1, 2, 3)
tuple2 = (4, 5 ,6)

print(tuple1 *2 + tuple2)

(1, 2, 3, 1, 2, 3, 4, 5, 6)

In [104]:
# 연산 결과의 길이 구하기
print(len(tuple1 * 2 + tuple2))

9

### 딕셔너리(dictionary)
#### 키(key)-값(value)을 갖는 데이터 구조

- #### 딕셔너리 생성

In [106]:
# 딕셔너리 생성
dict1 = {
    "A":"apple",
    "B":"banana",
    "C":"carrot"
}
print(dict1)
print(type(dict1))

{'A': 'apple', 'B': 'banana', 'C': 'carrot'}
<class 'dict'>

In [107]:
# 딕셔너리 값 출력
print(dict1["A"])
print(dict1["B"])

apple
banana

- #### 항목 추가 및 변경

In [109]:
# 딕셔너리 생성
dict1 = {
    "A":"apple",
    "B":"banana",
    "C":"carrot"
}

In [110]:
# 항목 추가
dict1["M"] = "mango"

print(dict1)

{'A': 'apple', 'B': 'banana', 'C': 'carrot', 'M': 'mango'}

In [111]:
# 항목 변경
dict1["B"] = "blue"

print(dict1)

{'A': 'apple', 'B': 'blue', 'C': 'carrot', 'M': 'mango'}

- #### 딕셔너리 함수
    - keys() : key 리스트 만들기
    - values() : value 리스트 만들기
    - items() : key, value 쌍 얻기
    - update() : 두 딕셔너리를 병합
    - pop() : key 삭제
    - del : key 삭제
    - get() : key로 value 얻기
    - in : 해당 key가 딕셔너리 안에 있는지 조사
    - clear() : key:value 쌍 모두 지우기

In [112]:
# keys() : key 리스트 만들기
dict1 = {'a':1, 'b':2, 'c':3}

print(dict1.keys())
print(list(dict1.keys()))

dict_keys(['a', 'b', 'c'])
['a', 'b', 'c']

In [113]:
# values() : value 리스트 만들기
dict1 = {'a':1, 'b':2, 'c':3}

print(dict1.values())
print(list(dict1.values()))

dict_values([1, 2, 3])
[1, 2, 3]

In [114]:
# items() : key, value 쌍 얻기
dict1 = {'a':1, 'b':2, 'c':3}

print(dict1.items())
print(list(dict1.items()))

dict_items([('a', 1), ('b', 2), ('c', 3)])
[('a', 1), ('b', 2), ('c', 3)]

In [115]:
# update() : 두 딕셔너리를 병합
dict1 = {'a':1, 'b':2, 'c':3}
dict2 = {'a':2, 'b':3, 'c':4}

dict1.update(dict2)
print(dict1)

{'a': 2, 'b': 3, 'c': 4}

In [116]:
# pop() : key 삭제
dict1 = {'a':1, 'b':2, 'c':3}
print(dict1)

print(dict1.pop('b'))
print(dict1)

{'a': 1, 'b': 2, 'c': 3}
2
{'a': 1, 'c': 3}

In [117]:
# del 키워드 : key 삭제
dict1 = {'a':1, 'b':2, 'c':3}
print(dict1)

del dict1['b']
print(dict1)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'c': 3}

In [118]:
print(a)

100

In [119]:
del a

In [121]:
# print(a) a는 정의되지 않았다

In [122]:
# get() : key로 value 얻기
# key가 없는 경우 none 반환
dict1 = {'a':1, 'b':2, 'c':3}

print(dict1.get('a'))
print(dict1.get('d'))

1
None

In [ ]:
# 딕셔너리[key]로 value에 접근
#key가 없는 경우 에러 발생

In [123]:
# in 키워드 : key 값 존재 확인
dict1 = {'a':1, 'b':2, 'c':3}

print(dict1)
print('b' in dict1)
print('f' in dict1)

{'a': 1, 'b': 2, 'c': 3}
True
False

In [124]:
list1 = [1, 3, 5, 7, 9, 11, 13]

print(13 in list1)

True

In [125]:
# clear() : key:value 쌍 모두 지우기
dict1 = {'a':1, 'b':2, 'c':3}
print(dict1)

dict1.clear()
print(dict1)

{'a': 1, 'b': 2, 'c': 3}
{}

### 집합(set)
#### 딕셔너리에서 key만 활용하는 데이터 구조로 순서에 의미가 없음

- #### 집합 생성

In [126]:
# {} 이용 집합 생성
set1 = {1, 1, 3, 5, 7, 7, 9}

print(set1)
print(type(set1))

{1, 3, 5, 7, 9}
<class 'set'>

In [128]:
# 순서에 의미가 없는 비순서 자료형 : 인덱싱 안됨
# set1[0] 인덱싱 불가능

In [129]:
# set() 이용 집합 생성
set1 = set([1, 1, 3, 5, 7, 7, 9])

print(set1)
print(type(set1))

{1, 3, 5, 7, 9}
<class 'set'>

In [130]:
# 문자열 입력하여 집합 생성
# 중복을 허용하지 않기 때문에 o가 하나만 출력
# 비순서 자료형 : 인덱싱 지원 안 함
set2 = set("pengsoo")

print(set2)
print(type(set2))

{'s', 'e', 'n', 'o', 'g', 'p'}
<class 'set'>

- #### 집합 연산
    - 합집합 : | , union()
    - 교집합 : &, intersection()
    - 차집합 : -, difference()

In [131]:
# 집합 선언
set1 = {1, 2, 3 ,4, 5}
set2 = {1, 3, 5, 7, 9}

In [132]:
# 합집합 : | , union()
print(set1 | set2)
print(set1.union(set2))

{1, 2, 3, 4, 5, 7, 9}
{1, 2, 3, 4, 5, 7, 9}

In [133]:
# 교집합 : &, intersection()
print(set1 & set2)
print(set1.intersection(set2))

{1, 3, 5}
{1, 3, 5}

In [134]:
# 차집합 : -, difference()
print(set1 - set2)
print(set1.difference(set2))

{2, 4}
{2, 4}

- #### 집합 함수
    - add() : 한 개의 값 추가
    - update() : 여러 개의 값 추가
    - remove() : 특정 값 제거

In [135]:
# 집합 생성
set1 = {1, 2, 3, 4, 5}

In [137]:
# add() : 한 개의 값 추가
set1.add(6)

print(set1)

{1, 2, 3, 4, 5, 6}

In [138]:
# update() : 여러 개의 값 추가
set1.update([6, 7, 8, 9, 10])

print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [139]:
# remove() : 특정 값 제거
set1.remove(3)

print(set1)

{1, 2, 4, 5, 6, 7, 8, 9, 10}