<a href="https://colab.research.google.com/github/morateng/2023_Data_Campus/blob/main/1)%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B0%9C%EC%9A%94_%EB%B0%8F_%EA%B8%B0%EC%B4%8803_%EC%A1%B0%EA%B1%B4%EB%AC%B8%EA%B3%BC_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 조건문과 반복문

### 논리 연산
  - and : 두 개의 값이 모두 True인 경우에만 결과 값으로 True 반환, 나머지는 모두 False 반환
  - or : 두 개의 값이 모두 False인 경우에만 결과 값으로 False 반환, 나머지는 모두 True 반환
  - not : 한 개의 값이 False면 결과 값으로 True 반환, True이면 결과 값으로 False 반환

In [1]:
# and (논리 곱)
print(True and True)
print(True and False)
print(False and False)

True
False
False

In [2]:
# or (논리 합)
print(True or True)
print(True or False)
print(False or False)

True
True
False

In [3]:
# not (논리 부정)
print(not True)
print(not False)

False
True

### 조건문

- #### if
  - 조건이 참일 경우 실행
  - 조건이 거짓일 경우 패스

In [4]:
if 5 >= 3:
    print('true')

print('condition')

true
condition

In [5]:
# 논리 연산
# 변수 선언
a = 1
b = 3
c = 5

In [6]:
# and
if a == 1 and b == 2:
    print('true')

In [7]:
# or
if a == 1 or b == 2:
    print('true')

true

In [8]:
# not
if not a == 10:
    print('true')

true

In [9]:
# != (관계 연산)
if a != 10:
    print('true')

true

In [10]:
# "카페인이 첨가된 종류는 아메리카노, 카페라떼, 콜드브루가 있다."
# 위의 문장을 파이썬 조건문으로 표현
caffeine = True

if caffeine:
    print('americano')
    print('cage latte')
    print('cold brew')

americano
cage latte
cold brew

- #### if - else
  - else 문은 if 문 뒤에 사용하며, if 문 조건이 거짓일 때 실행되는 부분

In [11]:
a = 1
b = 3

if a > b:
    print('max: ', a)
else:
    print('max: ', b)

max:  3

In [12]:
# "카페인이 첨가된 종류는 아메리카노, 카페라떼, 콜드브루가 있고, 카페인이 첨가되지 않은 종류는 우유, 오렌지 주스, 루이보스차가 있다."
# 위의 문장을 파이썬 조건문으로 표현
caffeine = True

if caffeine:
    print('americano')
    print('cage latte')
    print('cold brew')
else:
    print('mile')
    print('orange juice')
    print('rooibos tea')

americano
cage latte
cold brew

- #### if - elif - else
  - 조건이 여러 개인 경우, 다음 조건을 elif 블록에 명시 가능

In [13]:
a = 10

if a % 4 == 0:
    print('a % 4 is 0')
elif a % 4 == 1:
    print('a % 4 is 1')
elif a % 4 == 2:
    print('a % 4 is 2')
else:
    print('a % 4 is 3')

a % 4 is 2

- #### 중첩 조건문
  - 조건문의 경우 중첩하여 작성 가능
  - 중첩에 제한은 없음

In [15]:
a = 5
b = 5

if a == 5:
    if b == 4:
        print('true, true')
    else:
        print('true, false')

true, false

- #### in / not in
  - 데이터 안에 찾고자 하는 것이 있는지 없는지 확인하는 연산

In [17]:
# python 문자열에 k가 포함되어 있지 않다면 True, 포함 되어 있다면 False 출력
if 'k' not in 'python':
    print(True)
else:
    print(False)

True

- #### pass
  - 조건은 만족하지만 아무 일도 수행하고 싶지 않을 때 사용

In [18]:
# 바구니에 딸기가 없다면 pass
basket = ['사과', '바나나']

if '딸기' not in basket:
    pass

### 조건문 연습문제

- #### 연습문제 1

In [ ]:
# 중첩 조건문 구현 문제 : 조건문 안에 조건문 구현
# 배달 음식을 주문할 때 배달 거리에 따라 다른 배달비를 출력하는 조건문 완성하기
# 초기 설정 값 1) 음식을 배달로 시키는 경우, delivery 변수에 True 값 삽입
#                 음식을 포장으로 시키는 경우, delivery 변수에 False 값 삽입
# 초기 설정 값 2) 배달 거리는 사용자에게 실수로 입력받아 distance 변수에 입력
# 초기 설정 값 3) 배달 거리에 따른 배달비로 deliveryFee 변수에 0 입력

# 1) 첫 번째 조건문
#    1-1) 음식을 배달로 시키는 경우, 두 번째 조건문 실행
#    1-2) 음식을 포장으로 시키는 경우, deliveryFee는 0

# 2) 두 번째 조건문 (delivery == True일 때 실행할 조건문)
#    2-1) distance 값이 0.5km 미만 : deliveryFee는 1000
#    2-2) distance 값이 0.5km 이상 1km 미만 : deliveryFee는 1500
#    2-3) distance 값이 1km 이상 2km 미만 : deliveryFee는 2000
#    2-4) distance 값이 2km 이상 : deliveryFee는 2500

# 3) 배달 거리와 배달비를 출력

delivery =
distance =
deliveryFee =

SyntaxError: ignored

- #### 연습문제 2

* in / not in 연산자

In [ ]:
# 1) 'bigdata analysis' 문자열에 'd'가 포함되어 있다면 True, 포함 되어 있지 않다면 False 출력하는 조건문 구현

- #### 연습문제 3

* pass 키워드

In [ ]:
# 1) 'basket' 리스트는 apple, orange, lemon 으로 이루어져 있음
# 2) 'basket' 리스트에 melon 이 없다면 pass 키워드 설정하는 조건문 구현

### 반복문_while

- #### while

In [19]:
# count 변수가 5가 될 때까지 반복하여 count 출력
count = 0

while count < 5:
    print('count: ', count)
    count += 1

count:  0
count:  1
count:  2
count:  3
count:  4

In [20]:
# 리스트 요소를 차례대로 출력
# i를 0으로 초기화하여 리스트의 인덱스로 사용
# 리스트 요소의 개수를 len() 함수로 구해 반복문의 조건에 사용
a = [1, 3, 9, 5]


i = 0
while i < len(a):
    print('index: ', i, '\t value: ', a[i])
    i += 1

index:  0 	 value:  1
index:  1 	 value:  3
index:  2 	 value:  9
index:  3 	 value:  5

In [21]:
# len()
a = [1, 3, 9, 5]

print(len(a))

4

In [22]:
# 리스트 요소 중 5 초과인 값을 출력
# i를 0으로 초기화하여 리스트의 인덱스로 사용
# 리스트 요소의 개수를 len() 함수로 구해 반복문의 조건에 사용
a = [1, 3, 9, 5]

i = 0
while i < len(a):
    if a[i] > 5:
        print(a[i])
    i += 1

9

- #### 무한루프

In [ ]:
# 반복문의 조건이 True 로 항상 참으로 무한 반복
while True:
    print('end')

In [ ]:
# i를 0으로 초기 값을 부여하여 반복문의 조건은 항상 참이 나옴
# 그래서 무한 반복문이 됨
a = [1, 3, 5, 7]

i = 0
while i < len(a):
    print(a[i])
print('end')

- #### break

In [25]:
# 리스트 요소를 차례대로 출력
# i를 0으로 초기 값을 부여하여 반복문의 조건은 항상 참이 나옴
# 그래서 무한 반복문이 됨
# break 키워드를 통해 '리스트 요소 중 5 초과이면 반복을 멈춰'를 실행하여 빠져나옴
a = [1, 3, 9, 5]

i = 0
while i < len(a):
    if a[i] > 5:
        break
    print('index: ', i, 'value: ', a[i])
    i += 1

index:  0 value:  1
index:  1 value:  3

In [27]:
# 반복문 조건은 'a가 3보다 클 때 반복을 시켜줘'
# a를 10으로 초기 값을 부여하여 반복문의 조건은 항상 참이 나옴
# 그래서 무한 반복문이 됨
# break 키워드를 통해 'count가 20보다 클 때 반복을 멈춰' 실행하여 무한 반복문을 빠져나옴
a = 10
count = 0

while a > 3:
    count = count + 1
    a = a + 1
    if count > 20:
        break
    print(a, count)

11 1
12 2
13 3
14 4
15 5
16 6
17 7
18 8
19 9
20 10
21 11
22 12
23 13
24 14
25 15
26 16
27 17
28 18
29 19
30 20

- #### continue

In [28]:
# 반복문 조건은 'num이 10보다 작을 때 반복을 시켜줘'
# num이 5 이하일 때 continue 키워드를 사용하여
# 현재 반복을 생략하고 다음 반복으로 넘어가서 print가 안 됨
# num이 5 초과일 때 print 됨
num = 0

while num < 10:
    num += 1
    if num <= 5:
        continue
    print(num)

6
7
8
9
10

### 반복문_for

- #### for

In [29]:
# print("데이터 청년 캠퍼스") 코드를 5번 반복하고 싶을 때
# range() 함수를 사용하여 0부터 5미만까지 5번 반복
for i in range(5):
    print('데이터 청년 캠퍼스')

데이터 청년 캠퍼스
데이터 청년 캠퍼스
데이터 청년 캠퍼스
데이터 청년 캠퍼스
데이터 청년 캠퍼스

- #### 리스트 반복
  - 리스트는 여러 가지 자료를 저장할 수 있는 자료형
  - 요소(element)는 리스트 안에 있는 각각의 내용을 의미
  - 인덱스(index)는 리스트 안에 있는 값의 위치를 의미
  - 리스트를 이용한 for문은 요소 하나하나가 변수에 들어가며, 차례차례 반복

In [30]:
# 리스트를 반복해서 출력
# a 리스트의 첫번째 요소부터 마지막 요소까지 차례로 i변수에 대입해 명령어 print() 실행
a = [1, 3, 9, 5]

for i in a:
    print(i)

print('end')

1
3
9
5
end

In [31]:
# myList 변수에 국가명이 담긴 리스트를 넣고 반복문으로 출력
myList = ['Korea', 'USA', 'Japan']
for i in myList:
    print(i)

Korea
USA
Japan

In [33]:
# 리스트를 반복해서 출력
# enumerate() : 요소의 인덱스와 값을 반환
# a 리스트의 첫번째 요소부터 마지막 요소까지 인덱스와 값을 각각 차례로 index와 num변수에 대입해 명령어 print() 실행
a = [1, 3, 9, 5]

for index, num in enumerate(a):
    print('index:', index,'num:', num)

print('end')

index: 0 num: 1
index: 1 num: 3
index: 2 num: 9
index: 3 num: 5
end

- #### 딕셔너리 출력
  - 딕셔너리는 키를 기반으로 여러 자료를 저장하는 자료형
  - 키(key)는 딕셔너리 안에서 값을 접근할 때 사용하는 것
  - 값(value)은 딕셔너리 안에서 각각의 내용을 의미
  - 딕셔너리를 이용한 for문은 딕셔너리 안에 있는 키(key)가 변수에 들어감

In [34]:
# 딕셔너리를 반복해서 출력
# basket 딕셔너리 생성
basket = {
    'A':'apple',
    'B':'banan',
    'C':'carrot'
}

In [35]:
# 딕셔너리를 이용한 for 문은 key 가 변수에 들어감
for key in basket:
    print(key)

A
B
C

In [36]:
# keys() : key 값을 반환
for key in basket.keys():
    print(key)

A
B
C

In [37]:
# values() : value 값을 반환
for value in basket.values():
    print(value)

apple
banan
carrot

In [38]:
# items() : key, value값 반환
for key, value in basket.items():
    print(key, value)

A apple
B banan
C carrot

- #### 범위 출력
  - range() : 범위를 생성
    - range(A) : 매개변수로 숫자 한 개 입력
      - 0부터 A-1까지의 정수로 범위 생성
    - range(A, B) : 매개변수로 숫자 두 개 입력
      - A부터 B-1까지의 정수로 범위 생성
    - range(A, B, C) : 매개변수로 숫자 세 개 입력
      - A부터 B-1까지의 정수로 범위 생성하는데 앞 뒤 숫자가 C만큼의 차이를 가짐

  - list() : 범위를 리스트로 변경하면 범위 안에 어떤 값이 있는지 확인 가능

In [39]:
# range() 함수로 바로 출력하면 range(0, 11)로 출력됨
print(range(11))

range(0, 11)

In [40]:
# list() 함수를 이용해 범위를 리스트로 변경하면 범위 내부에 어떤 값이 있는지 확인 가능
# range() 함수의 매개변수 개수에 따른 결과 값 출력
print(list(range(11)))
print(list(range(1, 11)))
print(list(range(1, 11, 3)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 7, 10]

In [41]:
# range() 함수를 사용하여 5번 반복
# 0부터 5미만까지 반복
for i in range(5):
    print(i)

0
1
2
3
4

In [42]:
# print("데이터 청년 캠퍼스") 코드를 5번 반복하고 싶을 때
# range() 함수를 사용하여 0부터 5미만까지 5번 반복
for i in range(5):
    print('데이터 청년 캠퍼스')

데이터 청년 캠퍼스
데이터 청년 캠퍼스
데이터 청년 캠퍼스
데이터 청년 캠퍼스
데이터 청년 캠퍼스

In [43]:
# 3부터 시작해서, 20 미만의 수를 4간격으로
for i in range(3, 20, 4):
    print(i)

3
7
11
15
19

In [44]:
# 3부터 시작해서, 20 미만의 수를 4간격으로
# 5번 반복
for i in range(3, 20, 4):
    print('데이터 청년 캠퍼스')

데이터 청년 캠퍼스
데이터 청년 캠퍼스
데이터 청년 캠퍼스
데이터 청년 캠퍼스
데이터 청년 캠퍼스

- #### 문자열 출력
  - 문자열은 문자의 나열이며, 큰따옴표 혹은 작은따옴표로 입력
  - 문자열을 이용한 for문은 문자 하나하나가 변수에 들어가며, 차례차례 반복

In [45]:
# myList 변수에 "python" 문자열을 넣고 반복문으로 출력
myList = 'python'

for a in myList:
    print(a)

p
y
t
h
o
n

- #### 중첩
  - 반복문 블록의 코드 안에 또 반복문의 코드를 작성가능
  - 중첩은 무한히 사용 가능

In [46]:
# 반복문 1) a 리스트의 첫번째 요소부터 마지막 요소까지 차례로 i변수에 대입해 반복
# 반복문 2) a 리스트의 첫번째 요소일 때, a 리스트의 첫번째 요소부터 마지막 요소까지 차례로 j변수에 대입해 명령어 print() 실행
#           a 리스트의 두번째 요소일 때, a 리스트의 첫번째 요소부터 마지막 요소까지 차례로 j변수에 대입해 명령어 print() 실행
#           .......
#           a 리스트의 마지막 요소일 때, a 리스트의 첫번째 요소부터 마지막 요소까지 차례로 j변수에 대입해 명령어 print() 실행
a = [1, 3, 9, 5]

for i in a:
    for j in a:
        print(f'i: {i}, j:{j}')
    print('='*10)
print('end')

i: 1, j:1
i: 1, j:3
i: 1, j:9
i: 1, j:5
==========
i: 3, j:1
i: 3, j:3
i: 3, j:9
i: 3, j:5
==========
i: 9, j:1
i: 9, j:3
i: 9, j:9
i: 9, j:5
==========
i: 5, j:1
i: 5, j:3
i: 5, j:9
i: 5, j:5
==========
end

### 반복문 연습문제

- #### 연습문제 1

In [ ]:
# myDict 변수에 아래와 같은 딕셔너리 선언
# {'name': '자신의 이름', 'hobby': '자신의 취미'}

In [ ]:
# 2) 'myDic' 딕셔너리의 key를 변수로 하여 value를 반복문으로 출력
# 딕셔너리 안에 있는 키(key)가 변수로 들어감
# key 값과 myDictionary[key] 내용을 반복문으로 출력

- #### 연습문제 2

In [ ]:
# 구구단을 2-9단까지 출력
# 1) for 문 이용

In [ ]:
# 2) while 문 이용

- #### 연습문제 3

In [ ]:
# [a1, a2, a3, a4, a5, b1, b2, b3, b4, b5] 배열을 [a1, b1, a2, b2, a3, b3, a4, b4, a5, b5] 와 같은 형태로 바꾸기
# [a1, a2, a3, a4, a5, b1, b2, b3, b4, b5]를 myList 변수에 입력
# 결과를 저장할 result 변수에 리스트 선언
# 반복문으로 인덱스를 이용해 a1과 b1을 result 리스트에 차례로 넣어주고,
# a2와 b2를 result 리스트에 차례로 넣어주는 방법으로 a5, b5 까지 차례로 넣어줌

- #### 연습문제 4

In [ ]:
# 반복문을 이용해 5번 반복하여 사용자에게 학생 이름과 점수를 입력받아 파일에 입력
# 파일은 open() 함수로 쓰기 모드로 생성. 파일 이름은 grade.txt
# student 변수에 리스트 선언
# input() 함수를 이용해 학생 이름을 입력받아 name 변수에 저장. student 리스트에 저장
# 학생 이름을 출력해 점수를 입력받아 score 변수에 저장
# 파일에 "학생이름의 점수 : 점수"를 쓰고, 다음줄에 다음 입력받은 학생이름과 점수를 쓰도록 \n 사용